[submodule "docs/wiki"]
	path = docs/wiki
	url = https://github.com/jingyi-zhao-01/homelab-cloud.wiki.git
[submodule "flashsale"]
	path = application/flashsale
	url = https://github.com/jingyi-zhao-01/flashsale.git
	branch = main
[submodule "application/strategy-tester"]
	path = application/strategy-tester
	url = https://github.com/jingyi-zhao-01/strategy-tester.git
